.wrapper{
    /* background-color: #ddd; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-gap: 0.5em;
}
.wrapper > div{
    background-color: #ddd; 
    padding: 1em;
    word-spacing: 10px;
}
.wrapper > div:nth-child(odd){
    background-color: #eee;
}
.grid2 h1{
    text-align: center;
    color: red;
}
.grid2 p{
    text-align: center;
    color: seagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 0.5em;
    padding: 0.5em;
    margin: 0;
    
}
.container > div{
    background-color: slategrey;
    padding: 0.5em;
    word-spacing: 8px;
}
.container > div:nth-child(odd){
    background-color: steelblue;
}
